<div class="common-wrapper">
  <div class="image-component-wrapper">
    <div class="left-div">
      <p>FOTO</p>
      <p>
        Bitte ein Portrait-Foto, auf dem das Gesicht des Mitarbeitenden gut zu
        erkennen ist, hochladen oder in das Feld reinziehen.
      </p>
    </div>
    <div class="right-div">
      <label for="img" class="inputs-filling">
        <img *ngIf="showImage" [src]="imageUrl" alt="Uploaded Image" />
        <ng-container *ngIf="!showImage">
          <i class="material-icons">upload_file</i>
          <span>FOTO HOCHLADEN</span>
        </ng-container>
      </label>
      <input
        #imageUploadInput
        type="file"
        id="img"
        name="img"
        (change)="onFileChange($event)"
        (click)="onFileClick($event)"
      />
    </div>
  </div>

  <div *ngIf="imageUrl" class="hover-buttons">
    <i class="material-icons" (click)="openUpload()">upload_file</i>
    <i class="material-icons" (click)="delete()">delete_outline</i>
  </div>

  <app-image-preview-modal
    *ngIf="showPreviewWindow"
    [imageUrl]="imageUrl"
    (closeModalWindow)="closeModal()"
    (onSubmit)="submitCrop($event)"
    [imageChangeEvent]="imageChangeEvent"
  ></app-image-preview-modal>
</div>
