<div class="spinner-wrapper">
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div class="content">
  <h1 class="page_title">Users</h1>
  <div class="user-cards" #cards>
    <div *ngFor="let user of users$ | async" class="user-card">
      <div class="user-info">
        <div class="user-avatar">
          <img [src]="user.avatar" [alt]="user.name" />
        </div>
        <div class="user-details">
          <h3>{{ user.name }}</h3>
          <p>{{ user.job }}</p>
          <p>{{ user.from }}</p>
        </div>
      </div>
    </div>
  </div>
  <button (click)="loadMore()">Load more</button>
<!--  <mat-paginator [length]="100"-->
<!--                 [pageSize]={itemsAmountOnpPage}-->
<!--                 (click)="loadMore()">-->
<!--  </mat-paginator>-->
</div>
