
<nav class="menuWrapper">
  <a class="button" routerLink="/">
    <div class="menu_item">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </div>
  </a>
  <a class="button" routerLink="/settings">
    <div class="menu_item">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </div>
  </a>
  <a class="button" routerLink="/notifications">
    <div class="menu_item">
      <mat-icon>notifications</mat-icon>
      <span>Notifications</span>
    </div>
  </a>
  <a class="button" routerLink="/questions">
    <div class="menu_item">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </div>
  </a>
  <div class="menu_item" (click)="onToggle()">
    <mat-slide-toggle [checked]="currentTheme === 'dark'" (change)="onToggle()">
      <span>{{ currentTheme === 'dark' ? 'Dark theme' : 'Light theme' }}</span>
    </mat-slide-toggle>
  </div>
</nav>
