<div class="image-preview-modal">
  <image-cropper
    [imageChangedEvent]="imageChangeEvent"
    [aspectRatio]="4 / 4"
    [maintainAspectRatio]="true"
    [resizeToWidth]="200"
    format="png"
    [resizeToHeight]="250"
    (imageCropped)="cropImg($event)"
  >
  </image-cropper>

  <span class="close-button" (click)="onCloseClick($event)">X</span>
  <button (click)="submit()">Dieses Foto hochladen</button>
</div>

<div class="cropped-image-preview">
  <img [src]="cropImgPreview" alt="image" />
</div>
