<form class="example-form">
  <mat-form-field class="wrapper" [class.loading]="loading$ | async">
    <mat-label>User's names</mat-label>
    <input
      type="text"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
      (click)="click($event)"
      #trigger="matAutocompleteTrigger"
    />
    <div class="button-container">
      <div class="arrow-button">
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
    </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let user of users$ | async"
        [value]="user.name"
        (onSelectionChange)="selectUser(user.rawUser)"
        [class.loading]="loading$ | async"
      >
        {{ user.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
