.example-form {
  width: 50%;
}

.mat-mdc-form-field {
  width: 50%;
}

.wrapper {
  margin: 40px;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

mat-select {
  flex-grow: 1;
}

input {
  flex-grow: 1;
}

button {
  margin-left: 8px; /* Adjust as needed */
}
