/*@import '~@fortawesome/fontawesome-free/css/all.css';*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-color: #eeefed;
  color: #3f4838;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark-theme {
  --bg-color-dark: #3f4838;
  --color-dark: #eeefed;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
