<div class="content">
  <div>
    <h1 class="page_title">{{ title }}</h1>
    <ul class='list'>Description: After filling out the form, you can add a new card and delete it by clicking on the X button
      <li>Using Input and Output for transfer data</li>
      <li>Practice of adding and deleting cards</li>
      <li>Used ChangeDetection.onPush strategy</li>
      <li>Relocated array to the service</li>
      <li>All components are modules</li>
   </ul>
    <app-add-form (newProductEvent)="addNewProduct($event)"></app-add-form>
    <app-items [products]="products" class="cards_container"></app-items>
  </div>
</div>






